$main-background-color: #fafafa;
$white-background-color-300: #e0e0e0;
$white-background-color-100: #f5f5f5;
$white-background-color-50: #fafafa;
$white-background-color: white;

$color-primary: #2196f3;
$color-secondary: #0d47a1;



$opacity-dark-primary: .87;
$opacity-dark-secondary: .54;
$opacity-dark-disabled: .38;
$opacity-dark-dividers: .12;

$opacity-white-primary: 1;
$opacity-white-secondary: .7;
$opacity-white-disabled: .5;
$opacity-white-dividers: .12;


$padding-section: 3em;
$section-padding-element: 1em;