@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Slab Thin"),local(RobotoSlab-Thin),url(//fonts.gstatic.com/s/robotoslab/v6/MEz38VLIFL-t46JUtkIEgLeskzFlZTkzN_FGynPZJZk.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotoslab/v6/MEz38VLIFL-t46JUtkIEgNFPPhm6yPYYGACxOp9LMJ4.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotoslab/v6/MEz38VLIFL-t46JUtkIEgCeJLMOzE6CCkidNEpZOseY.woff) format("woff"); }

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Slab Light"),local(RobotoSlab-Light),url(//fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJbXcjzEax2LfQAlK8DdMzhA.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJUo2lTMeWA_kmIyWrkNCwPc.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJR_xHqYgAV9Bl_ZQbYUxnQU.woff) format("woff"); }

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"),local(RobotoSlab-Regular),url(//fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZmfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zo4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZobN6UDyHWBl620a-IRfuBk.woff) format("woff"); }

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"),local(RobotoSlab-Bold),url(//fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJbFt29aCHKT7otDW9l62Aag.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYlIZu-HDpmDIZMigmsroc4.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJTqR_3kx9_hJXbbyU8S6IN0.woff) format("woff"); }

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  src: local("Roboto Thin Italic"),local(Roboto-ThinItalic),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YVQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-Yfk_vArhqVIZ0nv9q090hN8.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YRsxEYwM7FgeyaSgU71cLG0.woff) format("woff"); }

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"),local(Roboto-LightItalic),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at2fQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk.woff) format("woff"); }

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"),local(Roboto-Italic),url(//fonts.gstatic.com/s/roboto/v15/OiNnAEwKzzJkQCr4qZmeq_esZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format("woff"); }

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"),local(Roboto-MediumItalic),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0WfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0Y4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format("woff"); }

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"),local(Roboto-BoldItalic),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC2fQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format("woff"); }

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  src: local("Roboto Black Italic"),local(Roboto-BlackItalic),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpWfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpY4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpYbN6UDyHWBl620a-IRfuBk.woff) format("woff"); }

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"),local(Roboto-Thin),url(//fonts.gstatic.com/s/roboto/v15/PP2U5prMl9yvKSWVu6DtvPesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format("woff"); }

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"),local(Roboto-Light),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUffY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local(Roboto),local(Roboto-Regular),url(//fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff"); }

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"),local(Roboto-Medium),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUfY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"),local(Roboto-Bold),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOPY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"),local(Roboto-Black),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIvY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

.with-background-white-300,
.with-background-white-100,
.with-background-white-50,
.with-background-blue,
.with-background-black,
h6,
h5,
a,
nav,
nav .nav,
nav .nav .nav-block,
nav .nav h5,
nav .nav ul,
nav .nav ul li,
nav .nav h6,
nav a,
.btn,
.btn-transparent-white,
.btn-transparent-primary,
.btn-primary,
.section-header-line,
.section-header,
.circle,
.circle-inner,
.circle-inner img,
.text-gradient,
.speaker-gradient,
.decor-gradient,
.payment-gradient,
.bg-welcome,
.intro,
.intro h4,
.intro h6,
.intro p,
.intro .intro-buttons,
.services,
.services .service-block,
.services .service-block,
.services .service-block,
.services .service-block h6,
.services .service-block p,
.clients,
.clients .section-header,
.clients ul,
.clients ul li,
.clients ul li img,
.clients ul li .img-cover,
.clients .comment-author,
.clients .comment-author-company,
.clients p,
.clients .comment-block,
.comments,
.comments .comment-block,
.comments .comment-block .circle,
.comments .comment-block .circle img,
.comments .comment-block h5, .comments .comment-block h6,
.comments .comment-block h5,
.comments .comment-block h6,
.comments .comment-block p,
.howto .howto-block,
.howto .howto-block h5, .howto .howto-block h6,
.howto p,
.footer .footer-block,
.footer input, .footer textarea,
.footer .send-message,
.footer .send-message h6,
.footer a h6,
.order-button,
.order-button .order-button-block,
.order-button .order-button-block h5,
.bg-speakers,
.intro-speakers,
.intro-speakers h4,
.intro-speakers h6,
.speakers-table p,
.speakers-table .speakers-table-block,
.speakers-table .speakers-table-block ul,
.speakers-table .speakers-table-block li,
.speakers-table .speakers-table-block li .speakers-active,
body,
section,
.container,
.container {
  margin: 0;
  padding: 0;
  border-radius: 0; }

.with-background-white-300 {
  background-color: #e0e0e0;
  padding-top: 3em;
  padding-bottom: 3em; }

.with-background-white-100 {
  background-color: #f5f5f5;
  padding-top: 3em;
  padding-bottom: 3em; }

.with-background-white-50 {
  background-color: #fafafa;
  padding-top: 3em;
  padding-bottom: 3em; }

.with-background-blue {
  background-color: #2196f3;
  padding-top: 1.66667em;
  padding-bottom: 3em;
  opacity: 1; }

.with-background-black {
  background-color: #424242;
  padding-top: 3em;
  padding-bottom: 6em;
  opacity: 1; }

h6 {
  font-size: 1em;
  font-weight: 400;
  opacity: 0.54; }

h5 {
  font-size: 1.1em; }

a {
  color: inherit;
  text-decoration: none; }

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  color: #e0e0e0;
  font-weight: 500;
  background: #2196f3;
  top: 0;
  z-index: 20;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5); }
  nav .nav {
    *zoom: 1;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; }
  nav .nav:before {
  content: '';
  display: table; }
  nav .nav:after {
  content: '';
  display: table;
  clear: both; }
    nav .nav .nav-block {
      width: calc(99.99% * 1/5 - (30px - 30px * 1/5)); }
    nav .nav .nav-block:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }
    nav .nav .nav-block:last-child {
  margin-right: 0; }
    nav .nav .nav-block:nth-child(0n) {
  margin-right: 0;
  float: right; }
    nav .nav .nav-block:nth-child(0n + 1) {
  clear: left; }
    nav .nav .nav-block:nth-child(2) {
      width: calc(99.99% * 3/5 - (30px - 30px * 3/5)); }
    nav .nav .nav-block:nth-child(2):nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }
    nav .nav .nav-block:nth-child(2):last-child {
  margin-right: 0; }
    nav .nav .nav-block:nth-child(2):nth-child(0n) {
  margin-right: 0;
  float: right; }
    nav .nav .nav-block:nth-child(2):nth-child(0n + 1) {
  clear: left; }
    nav .nav h5 {
      text-align: left;
      font-size: 1em; }
    nav .nav ul {
      text-align: center; }
      nav .nav ul li {
        padding: 20px;
        display: inline;
        font-size: 1em; }
    nav .nav h6 {
      text-align: right;
      font-size: 1em;
      font-weight: 500; }
  nav a {
    cursor: pointer;
    color: inherit;
    text-decoration: none; }

.btn {
  padding: 5px 16px;
  font-size: 14px;
  color: white;
  border-radius: 6px;
  cursor: pointer; }

.btn-transparent-white {
  border: 2px solid white; }

.btn-transparent-primary {
  border: 2px solid #2196f3;
  color: #2196f3; }
  .btn-transparent-primary:hover {
    background-color: #2196f3;
    color: white; }

.btn-primary {
  background-color: #f50057;
  border: 2px solid #f50057;
  color: rgba(255, 255, 255, 0.87); }

.section-header-line {
  width: 70px;
  height: 2px;
  display: inline-block;
  background: #2196f3;
  margin-bottom: 2em;
  opacity: 0.87; }

.section-header {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 0.5em;
  opacity: 0.54; }

.circle {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-bottom: 1em;
  border-radius: 50%;
  box-shadow: inset 0 3px 10px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2); }

.circle-inner {
  width: 84px;
  height: 84px;
  display: inline-block;
  margin-bottom: 1em;
  border-radius: 50%;
  background: radial-gradient(#2196f3, #1976d2);
  position: relative;
  top: 8px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5); }
  .circle-inner img {
    position: relative;
    top: 14px;
    width: 50px; }

.text-gradient {
  background: radial-gradient(#673ab7, #512da8); }

.speaker-gradient {
  background: radial-gradient(#009688, #00796b); }

.decor-gradient {
  background: radial-gradient(#8bc34a, #689f38); }

.payment-gradient {
  background: radial-gradient(#ffc107, #ffa000); }

.bg-welcome {
  background: url("http://www.designshock.com/wp-content/uploads/2015/02/sea.jpg") no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0; }

.intro {
  height: 100vh;
  top: 40vh;
  position: relative; }
  .intro h4 {
    color: white;
    opacity: 1;
    font-size: 2.6em;
    font-weight: 400; }
  .intro h6 {
    color: white;
    opacity: 1;
    font-size: 1.5em;
    font-weight: 300; }
  .intro p {
    color: white;
    opacity: 0.7;
    margin-top: 10px;
    font-weight: 300; }
  .intro .intro-buttons {
    margin-top: 30px; }

.services {
  text-align: center;
  box-shadow: 0 3px 20px 0 black; }
  .services .service-block {
    width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
    text-align: center;
    min-height: 400px; }
  .services .service-block:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }
  .services .service-block:last-child {
  margin-right: 0; }
  .services .service-block:nth-child(3n) {
  margin-right: 0;
  float: right; }
  .services .service-block:nth-child(3n + 1) {
  clear: left; }
    @media screen and (max-width: 800px) {
      .services .service-block {
        width: calc(99.99% * 1/1 - (30px - 30px * 1/1)); }
      .services .service-block:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none; }
      .services .service-block:last-child {
    margin-right: 0; }
      .services .service-block:nth-child(1n) {
    margin-right: 0;
    float: right; }
      .services .service-block:nth-child(1n + 1) {
    clear: left; } }
    @media screen and (max-width: 800px) {
      .services .service-block {
        min-height: 100px; } }
    .services .service-block h6 {
      font-family: 'Roboto';
      font-size: 20px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 1em;
      opacity: 0.54; }
    .services .service-block p {
      font-size: .9em;
      font-weight: 400;
      opacity: 0.54;
      margin-bottom: 1em; }

.clients {
  box-shadow: inset 0 3px 10px 0 rgba(0, 0, 0, 0.5); }
  .clients .section-header {
    color: white;
    font-weight: 300;
    margin-bottom: 0.5em;
    opacity: 0.7; }
  .clients ul {
    white-space: nowrap;
    overflow: hidden; }
    .clients ul li {
      width: 200px;
      height: 200px;
      display: inline-block;
      background-color: #f5f5f5;
      margin: 20px;
      border-radius: 10px;
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5); }
      .clients ul li img {
        width: 100px;
        display: block;
        position: relative;
        left: 50px;
        top: 50px;
        opacity: 0.6;
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%); }
      .clients ul li .img-cover {
        width: 150px;
        height: 150px;
        background: #f5f5f5;
        opacity: 0.7;
        position: relative;
        left: 25px;
        top: -100px; }
  .clients .comment-author {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.25em;
    opacity: 0.5; }
  .clients .comment-author-company {
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0.25em;
    opacity: 0.5; }
  .clients p {
    color: white;
    opacity: 0.7;
    padding: 10px; }
  .clients .comment-block {
    width: calc(99.99% * 1/3 - (30px - 30px * 1/3)); }
  .clients .comment-block:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }
  .clients .comment-block:last-child {
  margin-right: 0; }
  .clients .comment-block:nth-child(3n) {
  margin-right: 0;
  float: right; }
  .clients .comment-block:nth-child(3n + 1) {
  clear: left; }

.comments {
  z-index: 5;
  position: relative; }
  .comments .comment-block {
    width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
    height: 450px;
    background-color: #fafafa;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }
  .comments .comment-block:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }
  .comments .comment-block:last-child {
  margin-right: 0; }
  .comments .comment-block:nth-child(3n) {
  margin-right: 0;
  float: right; }
  .comments .comment-block:nth-child(3n + 1) {
  clear: left; }
    .comments .comment-block .circle {
      margin-top: 2em;
      border-radius: 50%; }
      .comments .comment-block .circle img {
        width: 84px;
        height: 84px;
        display: inline-block;
        margin-bottom: 1em;
        border-radius: 50%;
        position: relative;
        top: 8px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5); }
    .comments .comment-block h5, .comments .comment-block h6 {
      font-family: 'Roboto';
      font-size: 20px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0.25em;
      opacity: 0.54; }
    .comments .comment-block h5 {
      margin-top: 20px; }
    .comments .comment-block h6 {
      font-weight: 300;
      margin-bottom: 1em; }
    .comments .comment-block p {
      font-family: 'Roboto Slab';
      margin-left: 30px;
      margin-right: 30px;
      font-size: .9em;
      opacity: 0.54; }

.howto .howto-block {
  width: calc(99.99% * 1/4 - (30px - 30px * 1/4));
  margin-top: 1em; }

.howto .howto-block:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }

.howto .howto-block:last-child {
  margin-right: 0; }

.howto .howto-block:nth-child(0n) {
  margin-right: 0;
  float: right; }

.howto .howto-block:nth-child(0n + 1) {
  clear: left; }
  .howto .howto-block h5, .howto .howto-block h6 {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1em;
    opacity: 0.54; }

.howto p {
  opacity: 0.54;
  font-size: 12px; }

.footer .footer-block {
  width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
  color: white;
  text-align: left; }

.footer .footer-block:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }

.footer .footer-block:last-child {
  margin-right: 0; }

.footer .footer-block:nth-child(2n) {
  margin-right: 0;
  float: right; }

.footer .footer-block:nth-child(2n + 1) {
  clear: left; }

.footer input, .footer textarea {
  width: 80%;
  padding: 5px;
  border: 3px solid #cccccc;
  box-shadow: inset 0 3px 10px 0 rgba(0, 0, 0, 0.5); }

.footer .send-message {
  text-align: left; }
  .footer .send-message h6 {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 10px; }

.footer a h6 {
  color: white;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px; }

.order-button {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5); }
  .order-button .order-button-block {
    width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
    text-align: right; }
  .order-button .order-button-block:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }
  .order-button .order-button-block:last-child {
  margin-right: 0; }
  .order-button .order-button-block:nth-child(2n) {
  margin-right: 0;
  float: right; }
  .order-button .order-button-block:nth-child(2n + 1) {
  clear: left; }
    .order-button .order-button-block h5 {
      color: #f5f5f5;
      font-weight: 300; }
  .order-button .order-button-block:nth-child(2) {
    text-align: left; }

.bg-speakers {
  background: url("http://xn--c1absb.xn--p1ai/wp-content/uploads/2015/01/low-poly-texture-5.png") no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0; }

.intro-speakers {
  height: 30vh;
  min-height: 200px;
  position: relative;
  top: 14vh; }
  .intro-speakers h4 {
    color: white;
    opacity: 1;
    font-size: 2.6em;
    font-weight: 400; }
  .intro-speakers h6 {
    color: white;
    opacity: 1;
    font-size: 1.5em;
    font-weight: 300; }

.speakers-table p {
  opacity: 0.54; }

.speakers-table .speakers-table-block {
  width: calc(99.99% * 1/4 - (30px - 30px * 1/4));
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }

.speakers-table .speakers-table-block:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }

.speakers-table .speakers-table-block:last-child {
  margin-right: 0; }

.speakers-table .speakers-table-block:nth-child(0n) {
  margin-right: 0;
  float: right; }

.speakers-table .speakers-table-block:nth-child(0n + 1) {
  clear: left; }
  .speakers-table .speakers-table-block ul {
    padding-left: 30px;
    padding-top: 18px;
    position: relative;
    list-style: none; }
  .speakers-table .speakers-table-block li {
    height: 50px;
    text-align: left;
    margin: 0;
    padding: 0; }
    .speakers-table .speakers-table-block li .speakers-active {
      opacity: 0.87;
      color: #2196f3; }

.speakers-table .speakers-table-block:nth-child(2) {
  width: calc(99.99% * 3/4 - (30px - 30px * 3/4)); }

.speakers-table .speakers-table-block:nth-child(2):nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }

.speakers-table .speakers-table-block:nth-child(2):last-child {
  margin-right: 0; }

.speakers-table .speakers-table-block:nth-child(2):nth-child(0n) {
  margin-right: 0;
  float: right; }

.speakers-table .speakers-table-block:nth-child(2):nth-child(0n + 1) {
  clear: left; }
  .speakers-table .speakers-table-block:nth-child(2) .table-header {
    height: 50px;
    width: 100%;
    background: #2196f3;
    position: relative; }
  .speakers-table .speakers-table-block:nth-child(2) .table-header > * {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
    .speakers-table .speakers-table-block:nth-child(2) .table-header h6 {
      text-align: center;
      color: white;
      opacity: 0.7; }
  .speakers-table .speakers-table-block:nth-child(2) table {
    width: 100%;
    border-collapse: collapse; }
    .speakers-table .speakers-table-block:nth-child(2) table tr {
      border: solid;
      border-width: 1px;
      border-color: rgba(0, 0, 0, 0.1);
      height: 50px;
      opacity: 0.54; }
      .speakers-table .speakers-table-block:nth-child(2) table tr td:nth-child(1) {
        text-align: center;
        padding-left: 10px; }
      .speakers-table .speakers-table-block:nth-child(2) table tr td:nth-child(2) {
        text-align: left; }
      .speakers-table .speakers-table-block:nth-child(2) table tr td:nth-child(3) {
        text-align: left; }
      .speakers-table .speakers-table-block:nth-child(2) table tr td:nth-child(4) {
        text-align: left;
        font-size: 14px;
        opacity: 0.54; }
      .speakers-table .speakers-table-block:nth-child(2) table tr td:nth-child(5) {
        text-align: right;
        padding-right: 20px; }
      .speakers-table .speakers-table-block:nth-child(2) table tr img {
        width: 24px;
        padding: 0;
        margin: 0;
        position: relative;
        top: 2px;
        opacity: 0.38; }

body {
  font-family: 'Roboto'; }

section {
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center; }

.container {
  *zoom: 1;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }

.container:before {
  content: '';
  display: table; }

.container:after {
  content: '';
  display: table;
  clear: both; }
  @media screen and (max-width: 800px) {
    .container {
      *zoom: 1;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto; }
    .container:before {
    content: '';
    display: table; }
    .container:after {
    content: '';
    display: table;
    clear: both; } }
