//colors
$primary_bg_color: #fefefe;
$white_text_color: white;
$dark_text_color: black;
//

//opacity
$primary_dark_text_opacity: .87;
$primary_white_text_opacity: 1;
$secondary_dark_text_opacity: .54;
$secondary_white_text_opacity: .7;


//margins
$primary_margin: 80px;
$primary_margin_half: $primary_margin * .5;

//fonts
$primary_font: 'Lato', sans-serif;
//


//breakpoints
$xx-small: 20em;
$x-small: 30em;
$small: 37.5em;
$medium: 48em;
$large: 56.25em;
$x-large: 68.75em;
$xx-large: 81.25em;
//