//colors
$primary_bg_color: #fefefe;
//

//opacity
$primary_text_opacity: .87;
$secondary_text_opacity: .54;


//margins
$primary_margin: 80px;
$primary_margin_half: $primary_margin * .5;

//fonts
$primary_font: 'Lato', sans-serif;
//


//breakpoints
$small: 30em;
$medium: 47em;
$large: 75em;
//