.howto{



  .howto-block{
    lost-column: 1/4 0;
    margin-top: $section-padding-element;




    h5, h6{
      font-family: 'Roboto';
      font-size: 20px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: $section-padding-element;
      opacity: $opacity-dark-secondary;
    }

  }

  p{
    opacity: $opacity-dark-secondary;
    font-size: 12px;
  }







}